* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html {
     font-family: cursive;
 }

 body {
     width: 100%;
     height: 100%;
     background-color:#ADD8E6
 }

 h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
 }

main {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;;
}

.clearfix::after {
    content: “”;
    display: table;
    clear: both;
}

div {
    float: left;
    width: 180px;
    height: 190px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid grey;
}

div.unflipped {
    background-image: url(img/pattern.png);
    background-position: center;
    background-size: contain;
}

div.flipped { 
    background: white;
 }

 div > img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
 }

.unflipped > img {
    display: none;  
}

div.unflipped:hover img {
    background-color: white;
    display: inline;
}

footer {
    margin-top: 15px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    height: 40px;
    text-align: center;
}